In [1]:
import pandas as pd

## Non-contiguous Column Extraction
Sample code to demonstrate selection of columns from a Pandas dataframe where the desired columns are non-contiguous and indexed by position. 

Data is options data downloaded (using the download text link) from http://www.cboe.com/delayedquote/quote-table?ticker=AAPL. Each row contains both calls and puts with Expiration Date and Strike Price being shared.  As the column names are duplicated across the two types of options, Pandas renames the put columns by adding '.1' to the duplicated names.  After the puts are extracted, the second goal is to rename the columns to the original.

In [2]:
opts = pd.read_csv('quotedata.dat', skiprows=2,)

In [3]:
opts.head()

,Expiration Date,Calls,Last Sale,Net,Bid,Ask,Vol,IV,Delta,Gamma,...,Puts,Last Sale.1,Net.1,Bid.1,Ask.1,Vol.1,IV.1,Delta.1,Gamma.1,Open Int.1
0,08/30/2019,AAPL190830C00130000,72.10,-10.800,70.60,74.85,19,1.3608,0.9957,0.0004,...,AAPL190830P00130000,0.01,0.005,0.00,0.02,20,1.1790,-0.0013,0.0001,2863
1,08/30/2019,AAPL190830C00135000,67.35,-10.525,65.60,69.85,19,1.2539,0.9954,0.0004,...,AAPL190830P00135000,0.01,-0.005,0.00,0.06,243,1.1885,-0.0031,0.0003,836
2,08/30/2019,AAPL190830C00140000,70.35,0.000,60.60,64.85,0,1.1474,0.9952,0.0005,...,AAPL190830P00140000,0.02,0.005,0.01,0.07,237,1.1260,-0.0042,0.0004,431
3,08/30/2019,AAPL190830C00145000,0.00,0.000,55.60,59.90,0,1.0994,0.9928,0.0007,...,AAPL190830P00145000,0.04,0.025,0.02,0.04,255,0.9988,-0.0037,0.0004,453
4,08/30/2019,AAPL190830C00150000,53.14,-9.735,50.65,54.90,1,1.0345,0.9902,0.0010,...,AAPL190830P00150000,0.04,0.025,0.03,0.09,493,0.9789,-0.0070,0.0008,1314

In [4]:
cols = opts.columns

In [5]:
for index, column in enumerate(cols):
    print('{:>2} : {}'.format(index,column))

 0 : Expiration Date
 1 : Calls
 2 : Last Sale
 3 : Net
 4 : Bid
 5 : Ask
 6 : Vol
 7 : IV
 8 : Delta
 9 : Gamma
10 : Open Int
11 : Strike
12 : Puts
13 : Last Sale.1
14 : Net.1
15 : Bid.1
16 : Ask.1
17 : Vol.1
18 : IV.1
19 : Delta.1
20 : Gamma.1
21 : Open Int.1

### Create a list of column names for each type of option

In [6]:
call_cols = [*cols[:2], cols[11], *cols[2:11]]
put_cols = [cols[0], cols[12], cols[11], *cols[13:]]

### Create new data frames for each type of option

In [7]:
calls = opts[call_cols]
puts = opts[put_cols]

In [8]:
calls.head()

,Expiration Date,Calls,Strike,Last Sale,Net,Bid,Ask,Vol,IV,Delta,Gamma,Open Int
0,08/30/2019,AAPL190830C00130000,130.0,72.10,-10.800,70.60,74.85,19,1.3608,0.9957,0.0004,44
1,08/30/2019,AAPL190830C00135000,135.0,67.35,-10.525,65.60,69.85,19,1.2539,0.9954,0.0004,6
2,08/30/2019,AAPL190830C00140000,140.0,70.35,0.000,60.60,64.85,0,1.1474,0.9952,0.0005,7
3,08/30/2019,AAPL190830C00145000,145.0,0.00,0.000,55.60,59.90,0,1.0994,0.9928,0.0007,0
4,08/30/2019,AAPL190830C00150000,150.0,53.14,-9.735,50.65,54.90,1,1.0345,0.9902,0.0010,4

### Extract the call column names for the duplicated columns

In [9]:
rename_cols = call_cols[3:]

### Rename the put column names using those extracted from the calls

In [10]:
puts.columns = [*puts.columns[:3], *rename_cols]

In [11]:
puts.head()

,Expiration Date,Puts,Strike,Last Sale,Net,Bid,Ask,Vol,IV,Delta,Gamma,Open Int
0,08/30/2019,AAPL190830P00130000,130.0,0.01,0.005,0.00,0.02,20,1.1790,-0.0013,0.0001,2863
1,08/30/2019,AAPL190830P00135000,135.0,0.01,-0.005,0.00,0.06,243,1.1885,-0.0031,0.0003,836
2,08/30/2019,AAPL190830P00140000,140.0,0.02,0.005,0.01,0.07,237,1.1260,-0.0042,0.0004,431
3,08/30/2019,AAPL190830P00145000,145.0,0.04,0.025,0.02,0.04,255,0.9988,-0.0037,0.0004,453
4,08/30/2019,AAPL190830P00150000,150.0,0.04,0.025,0.03,0.09,493,0.9789,-0.0070,0.0008,1314